[Unit]
Description=Jenkins

[Service]
User=jenkinsusr

WorkingDirectory=/home/jenkins
ExecStart=/usr/bin/java -jar /home/jenkinsusr/jenkins.war

[Install]
WantedBy=multi-user.target

