[Unit]
Description=Jenkins

[Service]
User=Jenkins

WorkingDirectory=/home/jenkins
ExecStart=/usr/bin/java -jar /home/jenkins/jenkins.war

[Install]
WantedBy=multi-user.target

